@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --primario: #f0ece3;
  --secundario: #dfd3c3;
  --tercero: #c7b198;
  --cuarto: #596e79;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: var(--primario);
  font-size: 16px; /* 1rem = 10px */
  font-family: "Archivo", sans-serif;
}
.contenedor-padre {
  width: 95%;
  max-width: 150rem;
  margin: 0 auto;
}
.header {
  margin: 0 auto;
  background-color: var(--secundario);
  display: flex;
  justify-content: space-around;
}
@media (min-width: 768px) {
  .header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2.5rem;
  }  
}
.bienvenida{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}
.titulo-header {
  grid-column: 2 / 3;
  display: grid;
  place-items: center;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenido-modal {
  background-color: var(--secundario);
  padding: 4rem;
  border-radius: 2rem;
}
.contenido-login-page {
  grid-column: 3 / 4;
  display: grid;
  place-items: center;
}
.contenedor-botones-header {
  margin: 1rem;
}
.btn {
  padding: 1rem;
  border: 2px solid var(--cuarto);
  background-color: var(--cuarto);
  color: #fff;
  font-size: 1.2rem;
  border-radius: 0.8rem;
  cursor: pointer;
}
.btn-login,
.btn-signup {
  margin: 1rem;
}
.form {
  width: 90rem;
  display: grid;
  grid-template-rows: 0.3fr 2.4fr 0.3fr;
  row-gap: 1rem;
}
.btn-tipo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2.5rem;
  padding: 0.6rem;
}
.formulario {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.tipo-choose {
  transition: all 0.6s ease;
  font-size: 2.6rem;
}
.tipo-choose:hover {
  background-color: #da7f8f;
}
.btn-activo {
  background-color: #da7f8f;
}
.inputs {
  margin: 0.5rem 2rem;
  width: 100%;
  height: 4rem;
  border-radius: 0.5rem;
  padding: 0.3rem;
  font-family: "Archivo", sans-serif;
}
.label {
  width: 20rem;
  text-align: center;
}
.form-datos {
  display: flex;
  align-items: center;
}
.close-btn-contenedor {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.close-sign-btn {
  grid-column: 6 / 7;
}
.crear-contenedor {
  display: flex;
  justify-content: center;
}
.crear-sign-btn {
  transition: all 0.6s ease;
  width: 40rem;
  border: solid 2px transparent;
}
.crear-sign-btn:hover {
  background-color: #658c58;
  transform: scale(1.1);
  animation: borderBrillo 2s infinite ease-in-out;
}
@keyframes borderBrillo {
  0%,
  100% {
    border-color: rgba(139, 207, 112, 0.15);
    box-shadow: 0 0 5px rgba(139, 207, 112, 0.1);
  }
  50% {
    border-color: #8bcf70;
    box-shadow: 0 0 18px #8bcf70;
  }
}
.form-login {
  grid-template-rows: 2.5fr 0.5fr;
  width: 30rem;
}
.login-close {
  display: flex;
  flex-direction: row-reverse;
}
.contenido-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 2rem 0;
}
.input-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titulo-login {
  text-align: center;
  margin: 0;
}
.indiv-serv {
  display: flex;
  background-color: var(--cuarto);
  padding: 2rem;
  border-radius: 1rem;
  color: var(--primario);
}
.serv-datos {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}
.btn-idv {
  background-color: var(--tercero);
  color: #fff;
}
.servicios-datos {
  background-color: var(--secundario);
  margin: 2rem;
  border-radius: 1rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.5fr 2fr 0.5fr;
  height: 40rem;
}
.contenedor-servicios-ind {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  height: 10rem;
}
@media (min-width: 768px) {
  .contenedor-servicios-ind {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .contenedor-servicios-ind {
    grid-template-columns: repeat(3, 1fr);
  }
}
.titulo-servicio,
.info-serv,
.nom-desc-prov {
  text-align: center;
}
.info-serv {
  grid-column: 2 / 3;
}
.btn-serv {
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.contenedor-datos-user {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 1rem;
}
.sidebar-datos {
  display: grid;
  grid-template-rows: 2fr 3fr;
  background-color: var(--cuarto);
  place-items: center;
  margin: 0;
  border-radius: 1rem;
  padding: 5rem;
}
.form-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}
.contenedor-datos-user {
  background-color: var(--tercero);
  border-radius: 2rem;
  overflow: hidden;
}
.btns-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img-contenedor {
  background-color: #fff;
  border: 0.2rem solid var(--tercero);
  display: grid;
  place-items: center;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  overflow: hidden;
}
.img-sub img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.btn-side {
  color: var(--tercero);
  padding: 1rem;
  margin: 0 auto;
  font-size: 1.5rem;
}
.btn-cerrar-upd {
  margin: 1rem;
}
.contenedor-datos {
  display: grid;
  place-items: center;
}
.datos-dir {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.contenedor-datos-img{
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-img{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.botones-contenedor-header{
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 1rem;
}
.btns-sesion{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.btns-sesion button{
    font-size: 2rem;
    width: 7rem;
    text-align: center;
}