:root{
    --primario: #F0ECE3;
    --secundario: #DFD3C3;
    --tercero: #C7B198;
    --cuarto: #596E79;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body{
    background-color: var(--primario);
    font-size: 16px; /* 1rem = 10px */
} 
.header{
    margin: 0 auto;
    background-color: var(--secundario);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2.5rem;
}
.titulo-header{
    grid-column: 2 / 3;
    display: grid;
    place-items: center;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenido-modal{
    background-color: var(--secundario);
}
.contenido-login-page{
    grid-column: 3 / 4;
    display: grid;
    place-items: center;
}
.contenedor-botones-header{
    margin: 1rem
}
.btn{
    padding: 1.2rem;
    border: none;
    background-color: var(--cuarto);
    color: #FFF;
    font-size: 1.3rem;
    border-radius: .8rem;
    cursor: pointer;
}
.btn-login, .btn-signup{
    margin: 1rem;
}